#coin {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto auto;
    transition: transform 1s;
    transform-style: preserve-3d;
}

#coin div {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.300);
    border-style: solid;
    border-width: 3px;
}

#coin p {
    font-size: 1.5em;
    font-weight: 600;
}

.side-a {
    background-color: #82e7c2;
    z-index: 100;
}

.side-b {
    background-color: #708090;
    transform: rotateY(-180deg);
}

#coin.heads {
    animation: flipHeads 4s forwards;
}

#coin.tails {
    animation: flipTails 4s forwards;
}

@keyframes flipHeads {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(1800deg);
    }
}

@keyframes flipTails {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(1980deg);
    }
}