.navigationBar {
    display: flex;
    height: 46px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    transition: height .5s ease-in-out;
}

.expanded.navigationBar {
    height: 25em;
}

.nav-button {
    padding-top: .5em;
    padding-right: .25em;
    padding-left: .25em;
    cursor: pointer;
    justify-self: center;
}

.nav-buttons {
    display: grid;
    flex: 0;
    margin-left: auto;
    grid-template-columns: repeat(4, auto);
    list-style-type: none;
    font-size: 1.25em;
    text-shadow: .5px .5px #707070;
    transition: .75s ease-in-out;
}

.expanded.nav-buttons {
    flex: 1;
    transition: .75s ease-out;
    
}

.nav-expand-container {
    padding-top: .5em;
    margin-right: 1em;
    margin-left: .75em;
    cursor: pointer;
    height: auto;
    flex: 0;
    justify-content: flex-end;
}

#nav-expand-1,
#nav-expand-2, 
#nav-expand-3 {
    padding-top: 0;
    padding-bottom: 0;
    width: 25px;
    height: 4px;
    background-color: #82e7c2;
    border: 1px solid #707070;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
}

#nav-expand-2 {
    transition: margin .5s ease-in-out;
}

.expanded #nav-expand-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.nav-bar-name {
    display: flex;
    justify-content: flex-start;
    width: auto;
    column-gap: .4em;
    font-size: 1.5em;
    margin-left: .5em;
    text-shadow: 1.5px 1.5px #707070;
    cursor: pointer;
}

#nav-sandbox {
    color: #82e7c2;
    font-weight: 700;
}

/*HOVER ANIMATIONS*/

.nav-button:hover{
    font-weight: 600;
}

.nav-expand-container:hover .nav-expand {
    box-shadow: 0px 0px 0px 1px black;
}

