@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    background-color: lightgray;
}

body, html, ul, h1 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 3em;
    padding: 0;
    margin: 0;
}

.navigationBar {
    display: flex;
    height: 46px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    transition: height .5s ease-in-out;
}

footer {
    display: flex;
    justify-content: center;
}

.nav-button {
    padding: .5em .25em;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 1.25em;
    text-shadow: .5px .5px #707070;
}

.nav-menu-button-container {
    padding-top: .5em;
    margin-left: .50em;
    margin-right: .75em;
    cursor: pointer;
}

.nav-menu-button {
    width: 25px;
    height: 4px;
    background-color: #82e7c2;
    border: 1px solid #707070;
    margin-top: 3px;
    border-radius: 2px;
}

.page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px 15px;
}

.widget-container h3 {
    text-align: center;
    font-size: 2.5em;
}

.button-container {
    display: flex;
    justify-content: center;
}

nav:hover .nav-menu-button {
    transition: .5s ease-in-out;
}

#nav-menu-button-1, #nav-menu-button-2, #nav-menu-button-3 {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-bar-name {
    display: flex;
    width: auto;
    column-gap: .4em;
    font-size: 1.5em;
    margin-left: .5em;
    text-shadow: 1.5px 1.5px #707070;
    cursor: pointer;
}

#nav-sandbox {
    color: #82e7c2;
    font-weight: 700;
}

/*ANIMATIONS*/

.nav-button:hover{
    font-weight: 600;
}

.nav-menu-button-container:hover .nav-menu-button{
    border: 1px groove black;
    box-shadow: .5px .5px #707070;
}

.change .nav-buttons {
    flex: 1;
    justify-content: space-evenly;
}

.change #nav-menu-button-2 {
    margin-top: 8px;
    margin-bottom: 8px;
    transition: .5s ease-in-out;
}

nav.change{
    height: 25em;
}