@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body,
head,
#root {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    background-color: lightgray;
}

a {
    color: inherit;
    text-decoration: none;
}